#Header {
    position:relative;
    font-size: 60px;
    margin-left:35%;

}

#Categories {
    font-size: 20px;
}

.zero_cat {
    display: flex;
    align-items: center;
}

#zero {
    padding: 6px;
    font-weight: bold;
}

.one_cat {
    display: flex;
    align-items: center;
}

#one {
    padding: 6px;
    font-weight: bold;
}

.two_cat {
    display: flex;
    align-items: center;
}

#two {
    padding: 6px;
    font-weight: bold;
}
.estimate {
    display: flex;
    align-items: center;
    font-size: 40px;

}

#estval {
    padding: 6px;
}

#history_array {
    display: flex;
    align-items: center;
}

#wait {
    padding: 4px;
    font-weight: bold;
}

#pieChart {
    left: 1300px;
    bottom: 235px;
}